*{
    margin: 0;
    padding: 0;
}

#alarm_form .my-3{
    flex-grow: 1;
}
.show_time{
    font-size: 30px;
}
.range{
    height: 4px;
    width: 100%;
    background-color: red;
    border-radius: 3px;
    display: none;
}